<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SNS Main Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 0;
            padding-bottom: 50px;
        }
        .header {
            background-color: #f9f9f9;
            color: black;
            font-weight: bolder;
            font-size: 24px;
            display: flex;
            align-items: center;
            padding: 10px 20px;
            position: relative;
        }
        .header .logo {
            font-size: 24px;
        }
        .header .navbar {
            display: flex;
            justify-content: flex-start;
            background-color: #f9f9f9;
            margin-left: 150px; /* Adjust margin-left as needed */
        }
        .header .navbar a {
            font-weight: normal;
            color: black;
            padding: 14px 20px;
            text-decoration: none;
            text-align: center;
        }
        .header .navbar a:hover {
            color: #007bff;
            cursor: pointer;
        }
        .header .user-info {
            display: flex;
            align-items: center;
            position: absolute;
            right: 20px;
        }
        .header .user-info a {
            margin-left: 10px;
            margin-right: 10px;
            color: black;
            text-decoration: none;
        }
        .header .user-info a:hover {
            color: #007bff;
            cursor: pointer;
        }
        .container {
            display: grid;
            grid-template-columns: 15% 75%;
            gap: 20px;
            padding: 20px;
        }
        .sidebar {
            background-color: #f1f1f1;
            padding: 10px;
        }
        .content-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            gap: 20px;
        }
        .content {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0,0,0,0.1);
        }
        .content h2 {
            background-color: #ccc;
            padding: 10px;
            margin: 0 0 10px 0;
        }
        .content h2 span {
            cursor: pointer;
        }
        .content h2 span:hover {
            color: #007bff;
            cursor: pointer;
        }
        .post {
            background-color: white;
            margin: 10px 0;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0,0,0,0.1);
        }
        .post h3 {
            margin: 0;
            margin-left: 5px;
            font-weight: 100;
        }
        .post h4 {
            margin: 5px;
        }
        .post p {
            margin: 5px 0;
        }
        .post a {
            font-size: 25px;
            color: black;
            text-decoration: none;
        }
        .post a:hover {
            color: #007bff;
        }
        .post .info {
            display: flex;
            justify-content: space-between;
        }
        .dropdown-menu {
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            background-color: #ffffff;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0,0,0,0.1);
            z-index: 1000;
            width: 150px;
        }
        .dropdown-menu a {
            display: block;
            padding: 10px 15px;
            color: #333;
            text-decoration: none;
        }
        .dropdown-menu a:hover {
            background-color: gray;
        }
    </style>
    <script>
        function toggleDropdown() {
            const dropdown = document.getElementById('dropdown-menu');
            dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';
        }

        function goToChat() {
            window.location.href = '/chat';
        }

        function createPost() {
            window.location.href = '/createPost';
        }

        function goToBoard(category) {
            window.location.href = `/board/${category}`;
        }
    </script>
</head>
<body>
    <div class="header">
        <div class="logo">BUSS</div>
        <div class="navbar">
            <a href="/">MAIN</a>
            <a href="#">ANALYSIS</a>
            <a href="/chat">Assistant</a>
            <a href="/createPost">게시물 작성</a>
        </div>
        <div class="user-info">
            <% if (user.id === "guest") { %>
                <a href="/login" class="btn btn-primary">Login</a>
                <a href="/register" class="btn btn-secondary">Register</a>
            <% } else { %>
                <a href="javascript:void(0);" onclick="toggleDropdown()"><%= user.name %> 님</a>
                <div id="dropdown-menu" class="dropdown-menu">
                    <a style="color:black" href="/editProfile">정보수정</a>
                    <a style="color:black" href="/logout">로그아웃</a>
                </div>
            <% } %>
        </div>
    </div>
    <div class="container">
        <div class="sidebar">
            <h3>Top Writers</h3>
            <ol style="margin: -15px -20px">
                <% if (typeof topwriters !== 'undefined') { %>
                    <% topwriters.forEach(writer => { %>
                        <li><strong><%= writer.username %></strong> <span style="color:gray;"><%= writer.postCount %>점</span></li>
                    <% }) %>
                <% } else { %>
                    <li>No top writers available.</li>
                <% } %>
            </ol>
        </div>
        <div class="content-grid">
            <div class="content">
                <h2>WEEKLY BEST</h2>
                <% weeklyBestPosts.forEach(post => { %>
                <div class="post">
                    <div class="info">
                        <h3><%= post.author.name %></h3>
                        <span>💕<%= post.likes %> 🗨️ <%= post.comments.length %></span>
                    </div>
                    <h4><a href="/showPost/<%= post._id %>"><%= post.title %></a></h4>
                </div>
                <% }) %>
            </div>
            <div class="content">
                <h2><span onclick="goToBoard('community')">COMMUNITY</span></h2>
                <% communityPosts.forEach(post => { %>
                <div class="post">
                    <div class="info">
                        <h3><%= post.author.name %></h3>
                        <span>💕<%= post.likes %> 🗨️ <%= post.comments.length %></span>
                    </div>
                    <h4><a href="/showPost/<%= post._id %>"><%= post.title %></a></h4>
                </div>
                <% }) %>
            </div>
            <div class="content">
                <h2><span onclick="goToBoard('frontend')">FRONTEND</span></h2>
                <% frontendPosts.forEach(post => { %>
                <div class="post">
                    <div class="info">
                        <h3><%= post.author.name %></h3>
                        <span>💕<%= post.likes %> 🗨️ <%= post.comments.length %></span>
                    </div>
                    <h4><a href="/showPost/<%= post._id %>"><%= post.title %></a></h4>
                </div>
                <% }) %>
            </div>
            <div class="content">
                <h2><span onclick="goToBoard('backend')">BACKEND</span></h2>
                <% backendPosts.forEach(post => { %>
                <div class="post">
                    <div class="info">
                        <h3><%= post.author.name %></h3>
                        <span>💕<%= post.likes %> 🗨️ <%= post.comments.length %></span>
                    </div>
                    <h4><a href="/showPost/<%= post._id %>"><%= post.title %></a></h4>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</body>
</html>
