<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 0;
            padding-bottom: 50px;
        }
        .header {
            background-color: #f9f9f9;
            color: black;
            font-weight: bolder;
            font-size: 24px;
            display: flex;
            align-items: center;
            padding: 10px 20px 0 20px;
            position: relative;
        }
        .header .logo {
            font-size: 40px;
            font-weight: bolder;
            color: black;
            text-decoration: none;
        }
        .header .navbar {
            display: flex;
            justify-content: flex-start;
            background-color: #f9f9f9;
            margin-left: 30px;
        }
        .header .navbar a {
            font-weight: normal;
            color: black;
            padding: 14px 20px;
            font-size: 0.9em;
            text-decoration: none;
            text-align: center;
        }
        .header .navbar a:hover {
            color: #007bff;
            cursor: pointer;
        }
        .header .user-info {
            display: flex;
            align-items: center;
            position: absolute;
            right: 20px;
        }
        .header .user-info a {
            margin-left: 10px;
            margin-right: 10px;
            color: black;
            text-decoration: none;
        }
        .header .user-info a:hover {
            color: #007bff;
            cursor: pointer;
        }
        .container {
            display: grid;
            grid-template-columns: 15% 75%;
            gap: 20px;
            padding: 0px 20px 20px 20px;
        }
        .sidebar {
            background-color: #f1f1f1;
            padding: 10px;
            position: relative;
            top: -230px;
        }
        .content-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            gap: 20px;
        }
        .content {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0,0,0,0.1);
        }
        .content h2 {
            background-color: #d7d7db;
            padding: 20px;
            margin: 0 0 10px 0;
            position: relative;
            border-radius: 10px;
            background-image: url('/static/pattern.svg');
        }
        .content h2 span {
            cursor: pointer;
        }
        .content h2 span:hover {
            color: #007bff;
            cursor: pointer;
        }
        .content h2 .text-container {
            position: relative;
            right: -30px;
        }
        .post {
            background-color: white;
            margin: 10px 0;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0,0,0,0.1);
        }
        .post h3 {
            margin: 0;
            margin-left: 5px;
            font-weight: 100;
        }
        .post h4 {
            margin: 5px;
        }
        .post p {
            margin: 5px 0;
        }
        .post a {
            font-size: 25px;
            color: black;
            text-decoration: none;
        }
        .post a:hover {
            color: #007bff;
        }
        .post .info {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .post .author-info {
            display: flex;
            align-items: center;
        }
        .post .author-info img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
        }
        .dropdown-menu {
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            background-color: #ffffff;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0,0,0,0.1);
            z-index: 1000;
            width: 200px;
        }
        .dropdown-menu a {
            display: flex;
            align-items: center;
            padding: 10px 15px;
            color: #333;
            text-decoration: none;
        }
        .dropdown-menu a svg {
            margin-right: 10px;
        }
        .footer {
            background-color: #ffffff;
            color: #ccc;
            padding: 10px 0;
            text-align: center;
            font-size: 12px;
            border-top: 2px solid #007bff;
        }
        .footer .footer-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
        }
        .footer .footer-content .top-section {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        .footer .footer-content .logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            z-index: 1;
            margin-left: 30px;
        }
        .footer .footer-content .logo img {
            height: 80px;
            width: 100px;
        }
        .footer .footer-content .links {
            display: flex;
            gap: 15px;
        }
        .footer .footer-content .links a {
            color: black;
            text-decoration: none;
            font-size: 14px;
            margin-left: 40px;
        }
        .footer .footer-content .links a:hover {
            color: black;
        }
        .footer .footer-content .info {
            text-align: left;
            padding-right: 10px;
        }
        .footer .footer-content .info p {
            margin: 2px 0;
            line-height: 1;
            color: black;
        }
        .footer .footer-content .social-icons {
            display: flex;
            gap: 10px;
            margin-top: 10px;
        }
        .footer .footer-content .social-icons a {
            color: #ccc;
            text-decoration: none;
            font-size: 20px;
        }
        .footer .footer-content .social-icons a:hover {
            color: #fff;
        }
        .dropdown-menu span {
            display: block;
            padding: 10px 15px;
            text-align: left;
            color: #333;
            font-size: 0.9em;
        }
        .group_svg { 
            position: absolute;
            right: 100px;
            top: -5px;
        }
    </style>
    <script>
        function toggleDropdown() {
            const dropdown = document.getElementById('dropdown-menu');
            dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';
        }
        function goToBoard(category) {
            window.location.href = `/board/${category}`;
        }
    </script>
</head>
<body>
    <div class="header">
        <a href="/" class="logo"><img width="100px" height="50px" src="../static/logo3.png" alt="BUSS Logo">BUSS</a>
        <div class="navbar">
            <a href="/">MAIN</a>
            <a href="#">ANALYSIS</a>
            <a href="/chat">ASSISTANT</a>
            <a href="/createPost">게시물 작성</a>
        </div>
        <div class="user-info">
            <% if (user.id === "guest") { %>
                <a href="/login" class="btn btn-primary">Login</a>
                <a href="/register" class="btn btn-secondary">Register</a>
            <% } else { %>
                <a href="javascript:void(0);" onclick="toggleDropdown()"><%= user.name %> 님</a>
                <div id="dropdown-menu" class="dropdown-menu">
                    <span>내 계정</span>
                    <a href="/editProfile"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 21C5 17.134 8.13401 14 12 14C15.866 14 19 17.134 19 21M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg> 정보수정</a>
                    <hr>
                    <a style="margin-bottom:10px" href="/logout"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2 6.5C2 4.01472 4.01472 2 6.5 2H12C14.2091 2 16 3.79086 16 6V7C16 7.55228 15.5523 8 15 8C14.4477 8 14 7.55228 14 7V6C14 4.89543 13.1046 4 12 4H6.5C5.11929 4 4 5.11929 4 6.5V17.5C4 18.8807 5.11929 20 6.5 20H12C13.1046 20 14 19.1046 14 18V17C14 16.4477 14.4477 16 15 16C15.5523 16 16 16.4477 16 17V18C16 20.2091 14.2091 22 12 22H6.5C4.01472 22 2 19.9853 2 17.5V6.5ZM18.2929 8.29289C18.6834 7.90237 19.3166 7.90237 19.7071 8.29289L22.7071 11.2929C23.0976 11.6834 23.0976 12.3166 22.7071 12.7071L19.7071 15.7071C19.3166 16.0976 18.6834 16.0976 18.2929 15.7071C17.9024 15.3166 17.9024 14.6834 18.2929 14.2929L19.5858 13L11 13C10.4477 13 10 12.5523 10 12C10 11.4477 10.4477 11 11 11L19.5858 11L18.2929 9.70711C17.9024 9.31658 17.9024 8.68342 18.2929 8.29289Z" fill="#0F1729"/>
                        </svg> 로그아웃</a>
                </div>
            <% } %>
        </div>
    </div>
    <hr style="color:#333;">
    <div class="navbar">
        <a href="/">MAIN</a>
        <a href="#">ANALYSIS</a>
    </div>
    <div class="banner" style="left:550px; position:relative;">
        <img src="/static/buss banner.png" alt="" style="height: 100px%; width: 700px;">
    </div>
    <div class="container">
        <div class="sidebar">
            <h3>Top Writers</h3>
            <ol style="margin: -15px -20px">
                <% if (typeof topwriters !== 'undefined') { %>
                    <% topwriters.forEach(writer => { %>
                        <li><strong><%= writer.username %></strong> <span style="color:gray;"><%= writer.postCount %>점</span></li>
                    <% }) %>
                <% } else { %>
                    <li>No top writers available.</li>
                <% } %>
            </ol>
        </div>
        
        <div class="content-grid">
            <div class="content">
                <h2> <span class="text-container">WEEKLY BEST</span>
                    <img src="/static/weekly-best.svg" alt="SVG Image" class="group_svg" >
                </h2>
                <% weeklyBestPosts.forEach(post => { %>
                <div class="post">
                    <div class="info">
                        <div class="author-info">
                            <img src="<%= post.profileImageUrl %>" alt="Author's GitHub Profile Image">
                            <h3><%= post.author.name %></h3>
                        </div>
                        <span>💕<%= post.likes %> 🗨️ <%= post.comments.length %></span>
                    </div>
                    <h4><a href="/showPost/<%= post._id %>"><%= post.title %></a></h4>
                </div>
                <% }) %>
            </div>
            <div class="content">
                <h2><span onclick="goToBoard('community')"  class="text-container">COMMUNITY</span>
                <img src="/static/devops.svg" alt="SVG Image" class="group_svg" style="width: 150px; height: 150px; top:-42px;">
                </h2>
                <% communityPosts.forEach(post => { %>
                <div class="post">
                    <div class="info">
                        <div class="author-info">
                            <img src="<%= post.profileImageUrl %>" alt="Author's GitHub Profile Image">
                            <h3><%= post.author.name %></h3>
                        </div>
                        <span>💕<%= post.likes %> 🗨️ <%= post.comments.length %></span>
                    </div>
                    <h4><a href="/showPost/<%= post._id %>"><%= post.title %></a></h4>
                </div>
                <% }) %>
            </div>
            <div class="content">
                <h2>
                    <span onclick="goToBoard('frontend')" class="text-container">FRONTEND</span>
                    <img src="/static/frontend.svg" alt="SVG Image" class="group_svg">
                </h2>
                <% frontendPosts.forEach(post => { %>
                <div class="post">
                    <div class="info">
                        <div class="author-info">
                            <img src="<%= post.profileImageUrl %>" alt="Author's GitHub Profile Image">
                            <h3><%= post.author.name %></h3>
                        </div>
                        <span>💕<%= post.likes %> 🗨️ <%= post.comments.length %></span>
                    </div>
                    <h4><a href="/showPost/<%= post._id %>"><%= post.title %></a></h4>
                </div>
                <% }) %>
            </div>
            <div class="content">
                <h2><span onclick="goToBoard('backend')"  class="text-container">BACKEND</span>
                    <img src="/static/backend.svg" alt="SVG Image" class="group_svg" style="width:130px; height:130px; top: -36px;">
                </h2>
                <% backendPosts.forEach(post => { %>
                <div class="post">
                    <div class="info">
                        <div class="author-info">
                            <img src="<%= post.profileImageUrl %>" alt="Author's GitHub Profile Image">
                            <h3><%= post.author.name %></h3>
                        </div>
                        <span>💕<%= post.likes %> 🗨️ <%= post.comments.length %></span>
                    </div>
                    <h4><a href="/showPost/<%= post._id %>"><%= post.title %></a></h4>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-content">
            <div class="top-section">
                <div class="logo">
                    <img src="static/logo.png" alt="Logo">
                    <p style="font-size: 16px; color: black; text-align: left;"><strong>BUSS</strong></p>
                    <p style="font-size: 10px; color: black; text-align: left;">All That Developer</p>
                </div>
                <div class="links">
                    <a href="#">회사소개</a>
                    <a href="#">공지사항</a>
                    <a href="#">연락처</a>
                    <a href="#">광고문의</a>
                    <a href="#">채용</a>
                    <a href="#">버그제보</a>
                    <a href="#">개인정보 처리방침</a>
                    <a href="#">통합 서비스 이용약관</a>
                </div>
            </div>
            <div class="info" style="margin-top: 0;">
                <p>상호명: (주)버스 코리아 | 대표명: 고병수</p>
                <p>사업자등록번호: 000-00-02117 | 통신판매업신고번호: xxxx | 직업정보 제공사업 신고번호: xxxx-xxxxxx-xxx</p>
                <p>주소: 부산광역시 낙동대로 550번길 37 506 | 이메일: quodtnrh@gmail.com | (운영시간 평일 10:00~17:00) 주말, 공휴일 휴무</p>
                <p>© 2024 (주)버스 코리아, Inc. All rights reserved.</p>
            </div>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fas fa-envelope"></i></a>
            </div>
        </div>
    </div>
</body>
</html>
