<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SNS Main Page</title>
    <link rel="stylesheet" href="../static/styles/header.css"> <!-- 헤더 스타일을 포함한 CSS 파일 -->
    <link rel="stylesheet" href="../static/styles/footer.css"> <!-- 푸터 스타일을 포함한 CSS 파일-->
    <style>
<<<<<<< HEAD

        @font-face {
            font-family: 'neon';
            src: url('/static/styles/font/Pretendard-ExtraLight.otf') format('truetype');
        }

        @font-face{
            font-family: 'neon2';
            src: url('/static/styles/font/Pretendard-ExtraBold.otf') format('truetype');
        }

        body {
            font-family: 'neon';
=======
        @font-face {
            font-family: 'PR';
            src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
            font-weight: 400;
            font-style: normal;
        }

        body {
            font-family: 'PR';
>>>>>>> main
            background-color: #f9f9f9;
            margin: 0;
            padding: 0;
        }
        .container {
            display: grid;
            grid-template-columns: 250px 1fr 250px; /* 사이드바를 고정 너비로 설정 */
            gap: 20px;
            padding: 0px 20px 20px 20px;
        }
<<<<<<< HEAD
=======
        .content-area {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
>>>>>>> main
        .content-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            gap: 20px;
            width: 100%;
        }
        .content {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0,0,0,0.1);
        }
        .content h2 {
            background-color: #d7d7db;
            padding: 20px;
            margin: 0 0 10px 0;
            position: relative;
            border-radius: 10px;
            background-image: url('/static/pattern.svg');
        }
        .content h2 span {
            cursor: pointer;
        }
        .content h2 span:hover {
            color: #007bff;
        }
        .content h2 .text-container {
<<<<<<< HEAD
            font-family: 'neon2';
=======
            font-family: 'PR';
>>>>>>> main
            position: relative;
            right: -10px;
        }
        .post {
            background-color: white;
            margin: 10px 0;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0,0,0,0.1);
        }
        .post h3 {
            margin: 0;
            margin-left: 5px;
            font-weight: 100;
        }
        .post h4 {
            margin: 5px;
        }
        .post p {
            margin: 5px 0;
        }
        .post a {
            font-size: 25px;
            color: black;
            text-decoration: none;
        }
        .post a:hover {
            color: #007bff;
        }
        .post .info {
            display: flex;
            justify-content: space-between;
        }   


        .sidebar {
            background-color: #f9f9f9;
            padding: 10px;
            position: relative;
            top: -230px;
        }
        .top-writers {
        list-style-type: none;
        padding: 0;
        margin: 0;
        }
        .top-writers li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        }
        .top-writers img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 10px;
        }
        .writer-info {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        .writer-name {
            font-weight: bold;
        }
        .writer-points {
            display: flex;
            align-items: center;
            color: gray;
        }
        .writer-points img {
            width: 16px;
            height: 16px;
            margin-right: 5px;
        }
        .sidebar hr {
            border: none;
            border-top: 1px solid #ccc;
            margin: 10px 0;
        }
        .sidebar {
            background-color: #f9f9f9;
            padding: 10px;
            position: relative;
            width: 250px; /* 사이드바 너비 고정 */
        }
        .top-writers {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        .top-writers li {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        .top-writers img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 10px;
        }
        .writer-info {
            align-items: center;
        }
        .banner {
            padding: 10px 20px;
            display: flex;
            justify-content: center;
            width: 100%;
        }
        .banner img {
            max-width: 100%;
            height: auto;
        }

        /* 화면 크기가 768px 이하일 때 레이아웃 조정 */
        @media (max-width: 768px) {
            .container {
                grid-template-columns: 1fr;
            }
            .content-grid {
                grid-template-columns: 1fr;
            }
            .sidebar {
                width: 100%; /* 작은 화면에서 사이드바 너비를 100%로 설정 */
            }
        }
   
    </style>
    <script>
        function toggleDropdown() {
            const dropdown = document.getElementById('dropdown-menu');
            dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';
        }
        function goToBoard(category) {
            window.location.href = `/board/${category}`;
        }
    </script>
</head>
<body>
    <%- include('header') %>  
    <div class="container">
        <!-- <div class="sidebar">
            <h3>Top Writers</h3>
            <hr>
            <ol class="top-writers">
                <% if (typeof topwriters !== 'undefined') { %>
                    <% topwriters.forEach(writer => { %>
                        <li>
                            <img src="<%= writer.avatar %>" alt="<%= writer.username %>">
                            <div class="writer-info">
                                <span class="writer-name"><%= writer.username %></span>
                                <span class="writer-points">
                                    <img src="/static/trophy-icon.png" alt="Trophy Icon">
                                    <%= writer.postCount %>
                                </span>
                            </div>
                        </li>
                    <% }) %>
                <% } else { %>
                    <li>No top writers available.</li>
                <% } %>
            </ol>
        </div> -->

        <div class="sidebar">
            <h3>Top Writers</h3>
            <hr>
            <ol class="top-writers">
                <% if (typeof topwriters !== 'undefined') { %>
                    <% topwriters.forEach(writer => { %>
                        <li>
                            <img src="<%= writer.avatar %>" alt="<%= writer.username %>">
                            <div class="writer-info">
                                <span class="writer-name"><%= writer.username %></span>
                                <span class="writer-points">
                                    <img src="/static/trophy-icon.png" alt="Trophy Icon">
                                    <%= writer.postCount %>
                                </span>
                            </div>
                        </li>
                    <% }) %>
                <% } else { %>
                    <li>No top writers available.</li>
                <% } %>
            </ol>
        </div>

<<<<<<< HEAD
        <div class="content-grid">
            <div class="content">
                <h2> <span class="text-container">WEEKLY BEST</span>
                    <img src="/static/weekly-best.svg" alt="SVG Image" class="group_svg" >
                </h2>
                <% weeklyBestPosts.forEach(post => { %>
                <div class="post">
                    <div class="info">
                        <h3><%= post.author.name %></h3>
                        <span>💕<%= post.likes %> 🗨️ <%= post.comments.length %></span>
                    </div>
                    <h4><a href="/showPost/<%= post._id %>"><%= post.title %></a></h4>
                </div>
                <% }) %>
=======
        <div class="content-area">
            <div class="banner">
                <img src="/static/buss_banner.png" alt="Banner">
>>>>>>> main
            </div>
            <div class="content-grid">
                <div class="content">
                    <h2> <span class="text-container">WEEKLY BEST</span>
                        <img src="/static/weekly-best.svg" alt="SVG Image" class="group_svg">
                    </h2>
                    <% weeklyBestPosts.forEach(post => { %>
                    <div class="post">
                        <div class="info">
                            <div class="author-info">
                                <img src="<%= post.profileImageUrl || '/static/usericon.png' %>" alt="Author's GitHub Profile Image" style="width: 42px; height: 42px; border-radius: 50%;">
                                <h3><%= post.author.name %></h3>
                            </div>
                            <span>💕<%= post.likes %> 🗨️ <%= post.comments.length %></span>
                        </div>
                        <h4><a href="/showPost/<%= post._id %>"><%= post.title %></a></h4>
                    </div>
                    <% }) %>
                </div>
                <div class="content">
                    <h2><span onclick="goToBoard('community')" class="text-container">COMMUNITY</span>
                        <img src="/static/devops.svg" alt="SVG Image" class="group_svg" style="width: 150px; height: 150px; top:-42px;">
                    </h2>
                    <% communityPosts.forEach(post => { %>
                    <div class="post">
                        <div class="info">
                            <div class="author-info">
                                <img src="<%= post.profileImageUrl || '/static/usericon.png' %>" alt="Author's GitHub Profile Image" style="width: 42px; height: 42px; border-radius: 50%;">
                                <h3><%= post.author.name %></h3>
                            </div>
                            <span>💕<%= post.likes %> 🗨️ <%= post.comments.length %></span>
                        </div>
                        <h4><a href="/showPost/<%= post._id %>"><%= post.title %></a></h4>
                    </div>
                    <% }) %>
                </div>
                <div class="content">
                    <h2><span onclick="goToBoard('frontend')" class="text-container">FRONTEND</span>
                        <img src="/static/frontend.svg" alt="SVG Image" class="group_svg">
                    </h2>
                    <% frontendPosts.forEach(post => { %>
                    <div class="post">
                        <div class="info">
                            <div class="author-info">
                                <img src="<%= post.profileImageUrl || '/static/usericon.png' %>" alt="Author's GitHub Profile Image" style="width: 42px; height: 42px; border-radius: 50%;">
                                <h3><%= post.author.name %></h3>
                            </div>
                            <span>💕<%= post.likes %> 🗨️ <%= post.comments.length %></span>
                        </div>
                        <h4><a href="/showPost/<%= post._id %>"><%= post.title %></a></h4>
                    </div>
                    <% }) %>
                </div>
                <div class="content">
                    <h2><span onclick="goToBoard('backend')" class="text-container">BACKEND</span>
                        <img src="/static/backend.svg" alt="SVG Image" class="group_svg" style="width:130px; height:130px; top: -36px;">
                    </h2>
                    <% backendPosts.forEach(post => { %>
                    <div class="post">
                        <div class="info">
                            <div class="author-info">
                                <img src="<%= post.profileImageUrl || '/static/usericon.png' %>" alt="Author's GitHub Profile Image" style="width: 42px; height: 42px; border-radius: 50%;">
                                <h3><%= post.author.name %></h3>
                            </div>
                            <span>💕<%= post.likes %> 🗨️ <%= post.comments.length %></span>
                        </div>
                        <h4><a href="/showPost/<%= post._id %>"><%= post.title %></a></h4>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
    <%- include('footer') %> <!-- 푸터 포함 -->
</body>
</html>