<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SNS Main Page</title>
    <link rel="stylesheet" href="../static/styles/header.css"> <!-- 헤더 스타일을 포함한 CSS 파일 -->
    <link rel="stylesheet" href="../static/styles/footer.css"> <!-- 푸터 스타일을 포함한 CSS 파일-->
    <style>
        @font-face {
            font-family: 'PR';
            src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
            font-weight: 400;
            font-style: normal;
        }

        body {
            font-family: 'PR';
            background-color: #f9f9f9;
            margin: 0;
            padding: 0;
        }
        .container {
            display: grid;
            grid-template-columns: 250px 1fr 250px; /* 사이드바를 고정 너비로 설정 */
            gap: 20px;
            padding: 0px 20px 20px 20px;
        }
        .content-area {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        .content-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            gap: 20px;
            width: 100%;
        }
        .content {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0,0,0,0.1);
        }
        .content h2 {
            background-color: #d7d7db;
            padding: 20px;
            margin: 0 0 10px 0;
            position: relative;
            border-radius: 10px;
            background-image: url('/static/pattern.svg');
        }
        .content h2 span {
            cursor: pointer;
        }
        .content h2 span:hover {
            color: #007bff;
        }
        .content h2 .text-container {
            font-family: 'PR';
            position: relative;
            right: -10px;
        }
        .post {
            background-color: white;
            margin: 10px 0;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0,0,0,0.1);
        }
        .post h3 {
            margin: 0;
            margin-left: 5px;
            font-weight: 100;
        }
        .post h4 {
            margin: 5px;
        }
        .post p {
            margin: 5px 0;
        }
        .post a {
            font-size: 25px;
            color: black;
            text-decoration: none;
        }
        .post a:hover {
            color: #007bff;
        }
        .post .info {
            display: flex;
            justify-content: space-between;
        }
        .sidebar {
            background-color: #f9f9f9;
            padding: 10px;
            position: relative;
            width: 250px; /* 사이드바 너비 고정 */
        }
        .top-writers {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        .top-writers li {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        .top-writers img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 10px;
        }
        .writer-info {
            align-items: center;
        }
        .writer-name {
            text-decoration: none; /* 링크 밑줄 없애기 */
            color: inherit; /* 기본 텍스트 색상 유지 */
        }
        .writer-name:hover {
            color: #007bff; /* 호버 시 텍스트 색상 변경 */
        }
        .banner {
            padding: 10px 20px;
            display: flex;
            justify-content: center;
            width: 100%;
        }
        .banner img {
            max-width: 100%;
            height: auto;
        }

        /* 화면 크기가 768px 이하일 때 레이아웃 조정 */
        @media (max-width: 768px) {
            .container {
                grid-template-columns: 1fr;
            }
            .content-grid {
                grid-template-columns: 1fr;
            }
            .sidebar {
                width: 100%; /* 작은 화면에서 사이드바 너비를 100%로 설정 */
            }
        }
   
    </style>
    <script>
        function toggleDropdown() {
            const dropdown = document.getElementById('dropdown-menu');
            dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';
        }
        function goToBoard(category) {
            window.location.href = `/board/${category}`;
        }
        function goToMyProfile() {
            const currentUserId = '<%= currentUser ? currentUser.id : "" %>';
            if (currentUserId) {
                window.location.href = `/profile/${currentUserId}`;
            } else {
                alert('로그인이 필요합니다.');
            }
        }
    </script>
</head>
<body>
    <%- include('header') %>  
    <div class="container">
        <div class="sidebar">
            <h3>Top Writers</h3>
            <hr>
            <ol class="top-writers">
                <% if (typeof topwriters !== 'undefined') { %>
                    <% topwriters.forEach(writer => { %>
                        <li>
                            <img src="<%= writer.profileImageUrl || '/static/usericon.png' %>" alt="<%= writer.profileImageUrl %>">
                            <div class="writer-info">
                                <a href="/searchprofile/name/<%= writer.name %>" class="writer-name"><%= writer.name %></a>
                                <span class="writer-points">
                                    -<%= writer.postCount %>점
                                </span>
                            </div>
                        </li>
                    <% }) %>
                <% } else { %>
                    <li>No top writers available.</li>
                <% } %>
            </ol>
        </div>

        <div class="content-area">
            <div class="banner">
                <a href="/">
                    <img src="/static/buss_banner.png" alt="Banner">
                </a>
            </div>
            <div class="content-grid">
                <div class="content">
                    <h2> <span class="text-container">WEEKLY BEST</span>
                        <img src="/static/weekly-best.svg" alt="SVG Image" class="group_svg">
                    </h2>
                    <% if (weeklyBestPosts.length > 0) { %>
                        <% weeklyBestPosts.forEach(post => { %>
                        <div class="post">
                            <div class="info">
                                <div class="author-info">
                                    <% if (post.author && post.author.name) { %>
                                        <a href="/searchprofile/name/<%= post.author.name %>">
                                            <img src="<%= post.profileImageUrl || '/static/usericon.png' %>" alt="Author's GitHub Profile Image" style="width: 42px; height: 42px; border-radius: 50%;">
                                        </a>
                                        <h3><a href="/searchprofile/name/<%= post.author.name %>" class="writer-name"><%= post.author.name %></a></h3>
                                    <% } else { %>
                                        <a href="#">
                                            <img src="<%= post.profileImageUrl || '/static/usericon.png' %>" alt="Author's GitHub Profile Image" style="width: 42px; height: 42px; border-radius: 50%;">
                                        </a>
                                        <h3><a href="#" class="writer-name">Unknown Author</a></h3>
                                    <% } %>
                                </div>
                                <span>💕<%= post.likes %> 🗨️ <%= post.comments.length %></span>
                            </div>
                            <h4><a href="/showPost/<%= post._id %>"><%= post.title.length > 10 ? post.title.substring(0, 15) + '...' : post.title %></a></h4>
                        </div>
                        <% }) %>
                    <% } else { %>
                        <p>No weekly best posts available.</p>
                    <% } %>
                </div>
                <div class="content">
                    <h2><span onclick="goToBoard('community')" class="text-container">COMMUNITY</span>
                        <img src="/static/devops.svg" alt="SVG Image" class="group_svg" style="width: 150px; height: 150px; top:-42px;">
                    </h2>
                    <% if (communityPosts.length > 0) { %>
                        <% communityPosts.forEach(post => { %>
                        <div class="post">
                            <div class="info">
                                <div class="author-info">
                                    <% if (post.author && post.author.name) { %>
                                        <a href="/searchprofile/name/<%= post.author.name %>">
                                            <img src="<%= post.profileImageUrl || '/static/usericon.png' %>" alt="Author's GitHub Profile Image" style="width: 42px; height: 42px; border-radius: 50%;">
                                        </a>
                                        <h3><a href="/searchprofile/name/<%= post.author.name %>" class="writer-name"><%= post.author.name %></a></h3>
                                    <% } else { %>
                                        <a href="#">
                                            <img src="<%= post.profileImageUrl || '/static/usericon.png' %>" alt="Author's GitHub Profile Image" style="width: 42px; height: 42px; border-radius: 50%;">
                                        </a>
                                        <h3><a href="#" class="writer-name">Unknown Author</a></h3>
                                    <% } %>
                                </div>
                                <span>💕<%= post.likes %> 🗨️ <%= post.comments.length %></span>
                            </div>
                            <h4><a href="/showPost/<%= post._id %>"><%= post.title.length > 10 ? post.title.substring(0, 15) + '...' : post.title %></a></h4>
                        </div>
                        <% }) %>
                    <% } else { %>
                        <p>No community posts available.</p>
                    <% } %>
                </div>
                <div class="content">
                    <h2><span onclick="goToBoard('frontend')" class="text-container">FRONTEND</span>
                        <img src="/static/frontend.svg" alt="SVG Image" class="group_svg">
                    </h2>
                    <% if (frontendPosts.length > 0) { %>
                        <% frontendPosts.forEach(post => { %>
                        <div class="post">
                            <div class="info">
                                <div class="author-info">
                                    <% if (post.author && post.author.name) { %>
                                        <a href="/searchprofile/name/<%= post.author.name %>">
                                            <img src="<%= post.profileImageUrl || '/static/usericon.png' %>" alt="Author's GitHub Profile Image" style="width: 42px; height: 42px; border-radius: 50%;">
                                        </a>
                                        <h3><a href="/searchprofile/name/<%= post.author.name %>" class="writer-name"><%= post.author.name %></a></h3>
                                    <% } else { %>
                                        <a href="#">
                                            <img src="<%= post.profileImageUrl || '/static/usericon.png' %>" alt="Author's GitHub Profile Image" style="width: 42px; height: 42px; border-radius: 50%;">
                                        </a>
                                        <h3><a href="#" class="writer-name">Unknown Author</a></h3>
                                    <% } %>
                                </div>
                                <span>💕<%= post.likes %> 🗨️ <%= post.comments.length %></span>
                            </div>
                            <h4><a href="/showPost/<%= post._id %>"><%= post.title.length > 10 ? post.title.substring(0, 15) + '...' : post.title %></a></h4>
                        </div>
                        <% }) %>
                    <% } else { %>
                        <p>No frontend posts available.</p>
                    <% } %>
                </div>
                <div class="content">
                    <h2><span onclick="goToBoard('backend')" class="text-container">BACKEND</span>
                        <img src="/static/backend.svg" alt="SVG Image" class="group_svg" style="width:130px; height:130px; top: -36px;">
                    </h2>
                    <% if (backendPosts.length > 0) { %>
                        <% backendPosts.forEach(post => { %>
                        <div class="post">
                            <div class="info">
                                <div class="author-info">
                                    <% if (post.author && post.author.name) { %>
                                        <a href="/searchprofile/name/<%= post.author.name %>">
                                            <img src="<%= post.profileImageUrl || '/static/usericon.png' %>" alt="Author's GitHub Profile Image" style="width: 42px; height: 42px; border-radius: 50%;">
                                        </a>
                                        <h3><a href="/searchprofile/name/<%= post.author.name %>" class="writer-name"><%= post.author.name %></a></h3>
                                    <% } else { %>
                                        <a href="#">
                                            <img src="<%= post.profileImageUrl || '/static/usericon.png' %>" alt="Author's GitHub Profile Image" style="width: 42px; height: 42px; border-radius: 50%;">
                                        </a>
                                        <h3><a href="#" class="writer-name">Unknown Author</a></h3>
                                    <% } %>
                                </div>
                                <span>💕<%= post.likes %> 🗨️ <%= post.comments.length %></span>
                            </div>
                            <h4><a href="/showPost/<%= post._id %>"><%= post.title.length > 10 ? post.title.substring(0, 15) + '...' : post.title %></a></h4>                        </div>
                        <% }) %>
                    <% } else { %>
                        <p>No backend posts available.</p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <%- include('footer') %> <!-- 푸터 포함 -->
</body>
</html>
