<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SNS Main Page</title>
    <link rel="stylesheet" href="../static/styles/header.css"> <!-- 헤더 스타일을 포함한 CSS 파일 -->
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 0;
            padding-bottom: 50px;
        }
        .container {
            display: grid;
            grid-template-columns: 15% 75%;
            gap: 20px;
            padding: 0px 20px 20px 20px;
        }
        .sidebar {
            background-color: #f1f1f1;
            padding: 10px;
            position: relative;
            top: -230px;
        }
        .content-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            gap: 20px;
        }
        .content {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0,0,0,0.1);
        }
        .content h2 {
            background-color: #d7d7db;
            padding: 20px;
            margin: 0 0 10px 0;
            position: relative;
            border-radius: 10px;
            background-image: url('/static/pattern.svg');

        }
        .content h2 span {
            cursor: pointer;
        }
        .content h2 span:hover {
            color: #007bff;
            cursor: pointer;
        }
        .content h2 .text-container {
            position: relative;
            right: -30px;
        }
        .post {
            background-color: white;
            margin: 10px 0;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0,0,0,0.1);
        }
        .post h3 {
            margin: 0;
            margin-left: 5px;
            font-weight: 100;
        }
        .post h4 {
            margin: 5px;
        }
        .post p {
            margin: 5px 0;
        }
        .post a {
            font-size: 25px;
            color: black;
            text-decoration: none;
        }
        .post a:hover {
            color: #007bff;
        }
        .post .info {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .post .author-info {
            display: flex;
            align-items: center;
        }
        .post .author-info img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
        }
        .dropdown-menu {
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            background-color: #ffffff;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0,0,0,0.1);
            z-index: 1000;
            width: 200px;
        }
        .dropdown-menu a {
            display: flex;
            align-items: center;
            padding: 10px 15px;
            color: #333;
            text-decoration: none;
        }
        .dropdown-menu a svg {
            margin-right: 10px;
        }
        .footer {
            background-color: #ffffff;
            color: #ccc;
            padding: 10px 0;
            text-align: center;
            font-size: 12px;
            border-top: 2px solid #007bff;
        }
        .footer .footer-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
        }
        .footer .footer-content .top-section {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        .footer .footer-content .logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            z-index: 1;
            margin-left: 30px;
        }
        .footer .footer-content .logo img {
            height: 80px;
            width: 100px;
        }
        .footer .footer-content .links {
            display: flex;
            gap: 15px;
        }
        .footer .footer-content .links a {
            color: black;
            text-decoration: none;
            font-size: 14px;
            margin-left: 40px;
        }
        .footer .footer-content .links a:hover {
            color: black;
        }
        .footer .footer-content .info {
            text-align: left;
            padding-right: 10px;
        }
        .footer .footer-content .info p {
            margin: 2px 0;
            line-height: 1;
            color: black;
        }
        .footer .footer-content .social-icons {
            display: flex;
            gap: 10px;
            margin-top: 10px;
        }
        .footer .footer-content .social-icons a {
            color: #ccc;
            text-decoration: none;
            font-size: 20px;
        }
        .footer .footer-content .social-icons a:hover {
            color: #fff;
        }
        .dropdown-menu span {
            display: block;
            padding: 10px 15px;
            text-align: left;
            color: #333;
            font-size: 0.9em;
        }
        .group_svg { 
            position: absolute;
            right: 100px;
            top: -5px;
        }
    </style>
    <script>
        function toggleDropdown() {
            const dropdown = document.getElementById('dropdown-menu');
            dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';
        }
        function goToBoard(category) {
            window.location.href = `/board/${category}`;
        }
    </script>
</head>
<body>
    <%- include('header') %> 
    <div class="banner" style="left:275px; position:relative;">
        <img src="/static/buss banner.png" alt="" style="width:1050px; height: 250px;">
    </div>  
    <div class="container">
        <div class="sidebar">
            <h3>Top Writers</h3>
            <ol style="margin: -15px -20px">
                <% if (typeof topwriters !== 'undefined') { %>
                    <% topwriters.forEach(writer => { %>
                        <li>
                            <img src="<%= writer.profileImageUrl|| '/static/usericon.png' %>" alt="<%= writer.username %>'s profile picture" style="width: 30px; height: 30px; border-radius: 50%;">
                            <strong><%= writer.name %></strong> <span style="color:gray;"><%= writer.postCount %>점</span></li>
                    <% }) %>
                <% } else { %>
                    <li>No top writers available.</li>
                <% } %>
            </ol>
        </div>
        
        <div class="content-grid">
            <div class="content">
                <h2> <span class="text-container">WEEKLY BEST</span>
                    <img src="/static/weekly-best.svg" alt="SVG Image" class="group_svg" >
                </h2>
                <% weeklyBestPosts.forEach(post => { %>
                <div class="post">
                    <div class="info">
                        <div class="author-info">
                            <img src="<%= post.profileImageUrl || '/static/usericon.png' %>" alt="Author's GitHub Profile Image" style="width: 42px; height: 42px; border-radius: 50%;">

                            <h3><%= post.author.name %></h3>
                        </div>
                        <span>💕<%= post.likes %> 🗨️ <%= post.comments.length %></span>
                    </div>
                    <h4><a href="/showPost/<%= post._id %>"><%= post.title %></a></h4>
                </div>
                <% }) %>
            </div>
            <div class="content">
                <h2><span onclick="goToBoard('community')"  class="text-container">COMMUNITY</span>
                <img src="/static/devops.svg" alt="SVG Image" class="group_svg" style="width: 150px; height: 150px; top:-42px;">
                </h2>
                <% communityPosts.forEach(post => { %>
                <div class="post">
                    <div class="info">
                        <div class="author-info">
                            <img src="<%= post.profileImageUrl || '/static/usericon.png' %>" alt="Author's GitHub Profile Image" style="width: 42px; height: 42px; border-radius: 50%;">

                            <h3><%= post.author.name %></h3>
                        </div>
                        <span>💕<%= post.likes %> 🗨️ <%= post.comments.length %></span>
                    </div>
                    <h4><a href="/showPost/<%= post._id %>"><%= post.title %></a></h4>
                </div>
                <% }) %>
            </div>
            <div class="content">
                <h2>
                    <span onclick="goToBoard('frontend')" class="text-container">FRONTEND</span>
                    <img src="/static/frontend.svg" alt="SVG Image" class="group_svg">
                </h2>
                <% frontendPosts.forEach(post => { %>
                <div class="post">
                    <div class="info">
                        <div class="author-info">
                            <img src="<%= post.profileImageUrl || '/static/usericon.png' %>" alt="Author's GitHub Profile Image" style="width: 42px; height: 42px; border-radius: 50%;">

                            <h3><%= post.author.name %></h3>
                        </div>
                        <span>💕<%= post.likes %> 🗨️ <%= post.comments.length %></span>
                    </div>
                    <h4><a href="/showPost/<%= post._id %>"><%= post.title %></a></h4>
                </div>
                <% }) %>
            </div>
            <div class="content">
                <h2><span onclick="goToBoard('backend')"  class="text-container">BACKEND</span>
                    <img src="/static/backend.svg" alt="SVG Image" class="group_svg" style="width:130px; height:130px; top: -36px;">
                </h2>
                <% backendPosts.forEach(post => { %>
                <div class="post">
                    <div class="info">
                        <div class="author-info">
                            <img src="<%= post.profileImageUrl || '/static/usericon.png' %>" alt="Author's GitHub Profile Image" style="width: 42px; height: 42px; border-radius: 50%;">

                            <h3><%= post.author.name %></h3>
                        </div>
                        <span>💕<%= post.likes %> 🗨️ <%= post.comments.length %></span>
                    </div>
                    <h4><a href="/showPost/<%= post._id %>"><%= post.title %></a></h4>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-content">
            <div class="top-section">
                <div class="logo">
                    <img src="static/logo.png" alt="Logo">
                    <p style="font-size: 16px; color: black; text-align: left;"><strong>BUSS</strong></p>
                    <p style="font-size: 10px; color: black; text-align: left;">All That Developer</p>
                </div>
                <div class="links">
                    <a href="#">회사소개</a>
                    <a href="#">공지사항</a>
                    <a href="#">연락처</a>
                    <a href="#">광고문의</a>
                    <a href="#">채용</a>
                    <a href="#">버그제보</a>
                    <a href="#">개인정보 처리방침</a>
                    <a href="#">통합 서비스 이용약관</a>
                </div>
            </div>
            <div class="info" style="margin-top: 0;">
                <p>상호명: (주)버스 코리아 | 대표명: 고병수</p>
                <p>사업자등록번호: 000-00-02117 | 통신판매업신고번호: xxxx | 직업정보 제공사업 신고번호: xxxx-xxxxxx-xxx</p>
                <p>주소: 부산광역시 낙동대로 550번길 37 506 | 이메일: quodtnrh@gmail.com | (운영시간 평일 10:00~17:00) 주말, 공휴일 휴무</p>
                <p>© 2024 (주)버스 코리아, Inc. All rights reserved.</p>
            </div>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fas fa-envelope"></i></a>
            </div>
        </div>
    </div>
</body>
</html>
