<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= post.title %> - 게시물</title>
  <link rel="stylesheet" href="/styles.css">
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      loadComments();
    });

    function loadComments() {
      const postId = '<%= post._id %>';
      fetch(`/getComments/${postId}`)
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            const commentList = document.getElementById('commentList');
            commentList.innerHTML = ''; // 기존 댓글 비우기
            data.comments.reverse().forEach(comment => { // 최신 댓글이 맨 위로 오도록 reverse
              const li = document.createElement('li');
              li.textContent = `${comment.content} - ${comment.author.name}`;
              commentList.appendChild(li);
            });
          } else {
            alert('댓글을 불러오는 중 오류가 발생했습니다.');
          }
        })
        .catch(error => {
          console.error('Error:', error);
          alert('서버 오류가 발생했습니다.');
        });
    }

    function addComment() {
      const content = document.getElementById('commentContent').value;
      const post = '<%= post._id %>'; // 게시물의 ID
      fetch('/addComment', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ content, post })
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          alert(data.message); // 성공 메시지 표시
          document.getElementById('commentContent').value = ''; // 댓글 작성 박스 초기화
          loadComments(); // 페이지 이동 대신 loadComments 호출
        } else {
          alert(data.message); // 실패 메시지 표시
        }
      })
      .catch(error => {
        console.error('Error:', error);
        alert('서버 오류가 발생했습니다.');
      });
    }

  </script>
</head>
<body>
  <header>
    <h1><%= post.title %></h1>
    <p>작성자: <%= post.author.name %></p>
    <p>카테고리: <%= post.category %></p>
  </header>
  <main>
    <article>
      <p><%= post.content %></p>
    </article>
    <section>
      <h2>댓글</h2>
      <form>
        <textarea id="commentContent" rows="4" cols="50" placeholder="댓글을 입력하세요"></textarea>
        <button type="button" onclick="addComment()">댓글 달기</button>
      </form>
      <ul id="commentList">
        <% post.comments.reverse().forEach(comment => { %> <!-- 최신 댓글이 맨 위로 -->
          <li><%= comment.content %> - <%= comment.author.name %></li>
        <% }) %>
      </ul>
    </section>
  </main>
  <footer>
    <p>&copy; BUSS</p>
  </footer>
</body>
</html>
